/* Geral  */
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
.radius {
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .h90 {
    height: auto;
  }
}
.heading {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.85rem;
  line-height: 2rem;
  margin: 50px 0px;
}
.heading span:nth-child(1) {
  font-size: 2rem;
  font-weight: 200;
}
.heading.feature {
  color: #242579;
}
.heading.light {
  color: #fff;
}
/* Notification */
.notify {
  display: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  color: #eae6e6;
  font-weight: 600;
  text-align: center;
}

.notify-success {
  animation: slidedown 0.5s forwards;
  display: block !important;
  background: #25d366;
}
/* Animation */
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

.quote {
  margin: 50px 0px;
  text-align: center;
}
.quote p {
  display: inline-block;
  padding: 10px 15px;
  border: 4px solid;
}
.quote.primary p {
  border-color: #242579;
  color: #242579;
}
.quote.light p {
  border-color: #fff;
  color: #fff;
}
.rect {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.rect.rect-video {
  top: 160px;
  left: -100px;
}
.rect.rect-about {
  top: -20px;
  right: 80px;
}
.rect.rect-about object {
  transform: rotate(90deg);
}
.rect.rect-service {
  top: 2040px !important;
  left: 600px !important;
}
.rect.rect-cetified {
  top: 2850px;
  left: 750px;
}

/* Tabs */
.container.tabs {
  background-color: #fff;
  padding: 24px 0;
}
.okeleva-tabs {
  padding: 24px;
  margin: 0px 15px;
}
.okeleva.tabnav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.okeleva.tabnav li.active {
  background: #242579;
  color: #c4d600;
}
.okeleva.tabnav li {
  display: block;
  font-size: 0.75rem;
  padding: 8px 15px;
  margin: 0 10px 0 0;
  border-radius: 8px;
  border: 2px solid #242579;
  color: #242579;
  cursor: pointer;
}
.okeleva.tab-content {
  text-align: center;
  display: block;
}
.okeleva.tab-content p {
  margin: 15px 10px;
}
